logs
*.log
.npm
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache/
.temp
.cache
.vscode
out
.nuxt
dist
archive
node_modules/
local.session.sql
*/config/webhooks.json
tempCodeRunnerFile.javascript
src/commands/test